body {
    font-family: Arial, sans-serif;
    background-color: #f4f8ff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.codigo-pix {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
    word-wrap: break-word;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
